In [10]:
import pandas as pd

df = pd.read_csv('C:\\Users\\lnavn\Downloads\\archive (1)\\financial_regression.csv')

#drop the date column
df = df.drop('date', axis=1)

In [11]:
df

,sp500 open,sp500 high,sp500 low,sp500 close,sp500 volume,sp500 high-low,nasdaq open,nasdaq high,nasdaq low,nasdaq close,...,palladium high,palladium low,palladium close,palladium volume,palladium high-low,gold open,gold high,gold low,gold close,gold volume
0,114.49,115.1400,114.4200,114.93,115646960.0,0.7200,46.26,46.520,46.2200,46.39,...,45.0200,43.8600,44.84,364528.0,1.1600,111.51,112.37,110.79,112.03,18305238.0
1,114.73,114.8400,113.2000,113.64,212252769.0,1.6400,46.46,46.550,45.6500,45.85,...,45.7600,44.4000,45.76,442210.0,1.3600,111.35,112.01,110.38,110.86,18000724.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,113.62,115.1300,113.5900,115.06,138671890.0,1.5400,45.96,46.640,45.9500,46.59,...,47.0800,45.7000,46.94,629150.0,1.3800,110.95,111.75,110.83,111.52,10467927.0
4,114.28,114.4500,112.9800,113.89,216330645.0,1.4700,46.27,46.604,45.4300,45.92,...,47.3100,45.1700,47.05,643198.0,2.1400,109.97,110.05,108.46,108.94,17534231.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,585.91,586.1200,582.1600,582.35,34393714.0,3.9600,496.44,496.490,491.1901,491.25,...,96.0259,94.5400,95.68,52414.0,1.4859,247.75,249.06,247.62,248.63,5176170.0
3900,584.07,585.3900,582.5800,584.59,37416801.0,2.8100,494.06,495.570,493.3000,494.47,...,99.6600,97.2700,99.46,205027.0,2.3900,250.00,251.37,249.90,251.27,7833614.0
3901,583.85,584.8500,580.6001,583.63,36439010.0,4.2499,493.25,496.230,491.3100,495.42,...,98.3500,95.8900,97.35,227394.0,2.4600,252.74,253.14,250.73,251.22,9258590.0
3902,581.05,584.5000,580.3800,583.32,34183835.0,4.1200,492.73,497.445,491.9700,495.96,...,99.5899,97.9600,99.41,136431.0,1.6299,253.06,253.94,252.52,253.93,5756321.0
3903,581.26,581.7086,574.4150,577.99,47444991.0,7.2936,493.59,494.250,485.0500,488.36,...,98.5500,96.4643,97.53,81133.0,2.0857,253.08,253.18,250.20,250.87,7899995.0

In [12]:
#drop values where everything is empty otherwise dont drop
df = df.dropna(how='all')

In [14]:
# use simple imputer to fill missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
df = pd.DataFrame(imputer.fit_transform(df), columns = df.columns)

c:\Users\lnavn\.conda\envs\femo1\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\lnavn\.conda\envs\femo1\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\lnavn\.conda\envs\femo1\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\lnavn\.conda\envs\femo1\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\lnavn\.conda\envs\femo1\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\lnavn\.conda\envs\femo1\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [16]:
#split gold_close as another df
gold_close = df['gold close']
df = df.drop('gold close', axis=1)

In [17]:
# save the data into different files
df.to_csv('x.csv', index=False)
gold_close.to_csv('y.csv', index=False)